./Terraform/terraform.tfstate
./Teraform/terraform.tfstate.backup

# Terraform state files
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup

# Terraform directories
Terraform/.terraform/

# Sensitive files
Terraform/terraform.tfvars
Terraform/.terraform.tfstate*
